html {
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    min-height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    margin: 0;
}

body * {
    display: flex;
}

header {
    align-items: center;
    padding: 16px 10%;
    margin: 0%;
    font-size: large;
    gap: 16px;
}

footer {
    margin-top: auto;
    align-items: center;
    justify-content: center;
    padding: 16px;
}

header, footer, .intro {
    background-color: #1f2937;
    color: white;
}

button {
    padding: 4px 12px;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: #3882F6;
    font-size: 12px;
    font-weight: bold;
}

.column {
    flex-direction: column;
}

.logo {
    margin-right: auto;
    font-weight: bold;
    font-size: x-large;
}

.intro, .images, .signup {
    justify-content: center;
    margin: 0%;
    padding: 0 10%;
}

.inspiration {
    background-color: #E5E7Eb;
    padding: 5% 25%;
}

.images {
    align-items: center;
}

.figures {
    gap: 24px;
}

.intro-content {
    align-items: baseline;
}

div[class="figures"] img {
    border: 3px solid #3882F6;
    flex: 0 120px;
    border-radius: 15px;
}