html {
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    min-height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    margin: 0;
}

body * {
    display: flex;
}

body > * {
    padding: 0 10% 5%;
}

header {
    align-items: center;
    padding: 16px 10% 5%;
    margin: 0%;
    gap: 16px;
}

footer {
    margin-top: auto;
    align-items: center;
    justify-content: center;
    padding: 16px;
}

button {
    padding: 4px 12px;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: #3882F6;
    font-size: 12px;
    font-weight: bold;
    border-radius: 4px;
}

.dark {
    background-color: #1f2937;
    color: white;
}

.column {
    flex-direction: column;
}

.logo {
    margin-right: auto;
    font-weight: bold;
    font-size: 24px;
    color: #F9FAF8;
}

.secondary {
    font-size: 18px;
    color: #E5E7Eb;
}

.title {
    font-weight: 900;
    font-size: 48px;
    color: #F9FAF8;
}

.intro, .images, .signup {
    justify-content: center;
    margin: 0%;
}

.inspiration {
    background-color: #E5E7Eb;
    padding: 5% 25%;
}

.images {
    align-items: center;
}

.figures {
    gap: 24px;
}

.intro-content {
    align-items: baseline;
}

div[class="figures"] img {
    border: 3px solid #3882F6;
    flex: 0 120px;
    border-radius: 15px;
}

.quote {
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    color: #1f2937;
}

.author {
    margin-left: auto;
}

.signup {
    background-color: #3882F6;
    
}